// Structure
$pageWidth: 1220px;

$lightGray: #f6f7f8;
$black: #292929;
$lightBlue: #509faf;
$darkBlue: #185367;
$yellow: #ffd400;

// Text Selection
$selectionColor: $yellow;

$linkColor: $yellow;
$linkHoverColor: darken($yellow, 3%);
